h1 {
	width: 100%;
	margin-bottom: 1em;
	border-bottom: 2px solid black;
	font-weight: 400;
	text-align: start;
}

body {
	background-color: #f4f4f4;
	padding: 1.5em 0;
	font-family: Helvetica, sans-serif;
	color: #333;
}

.wrapper {
	width: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4em;
	margin: auto;
}

.container {
	width: 100%;
}

/* Buttons */

.buttons-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
}

.btn {
	width: max-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 12px 25px;
	font-family: Resist Sans Text, sans-serif;
	font-size: 20px;
	cursor: pointer;
	transition: background 0.3s, color 0.3s, border-color 0.3s;
}

.btn-container {
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-self: center;
}

/* Primary button  */

.btn-primary {
	background: #f23883f0;
	border-radius: 30px;
	color: white;
}

.btn-primary:hover {
	background: #e03378;
}

.btn-primary:active {
	background: #de1f6c;
}

.btn-primary:disabled {
	background: #b3b3b3;
}

/* Secondary button */

.btn-secondary {
	border: 1px solid #f23883;
	border-radius: 30px;
	color: #f23883;
}

.btn-secondary:hover {
	background: #ff71aaf0;
	color: white;
	border-color: #ff71aaf0;
}

.btn-secondary:active {
	background: #f14289;
	color: white;
	border-color: #f14289;
}

.btn-secondary:disabled {
	background-color: transparent;
	border: 1px solid #b3b3b3;
	color: #b3b3b3;
}

/* Tertiary button*/

.btn-tertiary1 {
	color: black;
}

.btn-tertiary1:hover {
	color: #fe78ae;
}

.btn-tertiary1:active {
	color: #f23883f0;
}

.btn-tertiary2 {
	color: #f14289;
}

.btn-tertiary2:hover {
	color: #e03e7f;
}

.btn-tertiary2:active {
	color: #df2b73;
}

/* Checkbox */

.checkbox-wrapper {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
}

.checkbox-container {
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-self: center;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox label {
	width: 34px;
	height: 34px;
	background-color: transparent;
	display: inline-block;
	padding: 0;
	border: 2px solid #000000;
	position: relative;
	transition: background-color 0.3s, border-color 0.3s, border-width 0.05s;
	cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label {
	background-color: #ff4690f0;
	border: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
	width: 34px;
	height: 34px;
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><path d="M7.4375 16.8559L13.8823 25.0359L26.5241 8.92383" stroke="white" stroke-width="1.98302"/></svg>');
	position: absolute;
	top: 0;
	left: 0;
}

/* Hovered */
.checkbox input[type="checkbox"]:hover:not(:disabled) + label {
	border-color: #f23883;
}

.checkbox input[type="checkbox"]:checked:hover:not(:disabled) + label {
	background-color: #f23883;
	border: none;
}

/* Disabled */

.checkbox input[type="checkbox"]:disabled + label {
	background-color: #b3b3b3;
	border: none;
	cursor: default;
}

.checkbox input[type="checkbox"]:not(:checked):disabled + label {
	background-color: transparent;
	border: 2px solid #0000004d;
}

/* Inputs */

.input-wrapper {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
}

.input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	justify-self: center;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.input-group label {
	font-size: 14px;
	color: #E8524E;
	position: absolute;
	bottom: -25px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.input-group label.visible {
	opacity: 1;
}

.input-container input {
	background-color: white;
	padding: 15px 25px;
	border: 1px solid transparent;
	border-radius: 30px;
	font-size: 16px;
	transition: border 0.3s;
}

.input-container input::placeholder {
	color: #ababab;
}

.input-container input:hover:not(:disabled) {
	border: 1px solid #928989;
}

.input-container input:focus:not(:disabled) {
	border: 1px solid #5ba9ff;
}

.input-container input:disabled {
	background: #d9d9d9;
}

.input-container .correct {
	border: 1px solid #3ec632 !important;
}

.input-container .error {
	border: 1px solid #e6423e !important;
}

