* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

button {
	width: auto;
	height: auto;
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
	line-height: inherit;
	color: inherit;
	text-align: inherit;
	text-transform: none;
	overflow: visible;
	font: inherit;
	text-indent: 0;
	text-shadow: none;
	letter-spacing: normal;
	word-spacing: normal;
	cursor: pointer;
	box-shadow: none;
	outline: none;
}

/* input {
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	color: inherit;
	
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input::placeholder {
	color: #888;
}

input:focus {
	outline: none;
} */
